<div class=project>
  <ul><li class=name><%= link_to project.name, project_path(project) %></li><li class=from><%= project.original_language.name %></li><li class=to><%= project.language.name %></li></ul>
  <div class=clear></div>
</div>
