<div id=dashboard>
  <h1><%= t('users.dashboard.hi') % @user.name %></h1>

  <div id="projects">
    <%= render partial: "shared/projects", locals: {projects: @user.projects, title: t('users.dashboard.projects'), can_be_new: true } %>
    <%= render partial: "shared/projects", locals: {projects: @user.review_projects, title: t('users.dashboard.reviews') } %>
    <%= render partial: "shared/projects", locals: {projects: @user.translation_projects, title: t('users.dashboard.translators') } %>
  </div>

</div>
