<% if @invited %>
		$('#invitation-response').html("<p class=success><%= t('projects.assign_translators.invited_with_success') %></p>").fadeIn().delay(3000).fadeOut();
<% else %>
		$('#invitation-response').html("<p class=fail><%= t('projects.assign_translators.invitation_failed') %></p>").fadeIn().delay(3000).fadeOut();
<% end %>

$('#people_invited').val('');
