<h1><%= t('.assign_contributors') %></h1>
<div></div>

<%= t('get_started_on_translation') %>
<%= link_to '', translate_project_path(@project), :class => 'arrow-right' %>

<%= debug @project.paragraphs %>
