/*
 * Css
 */

@import 'layout/config';

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  line-height: 1;
  font-family: 'Lora', 'droid',sans-serif;
  font-size: 13px;
  text-rendering: optimizeLegibility;
  width: auto;

}
a {
  outline: medium none;
}
h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
header {
  background-color: $black;
  color: $white;
  padding: 5px 20px;
  height: 50px;
  //background: image-url('pratik.png') repeat scroll 0 0 / 20px 20px $black;
  background-color: $black;

  a {
    color: $white;
    &:hover, &:active {
      color: $orange;
    }
  }

  .title {
    background: image-url("logo_am_laranja.png") no-repeat;
    color: $white;
    background-size: 50px 50px;
    height: 50px;
    padding-left: 70px;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    line-height: 1.3;
    float: left;
    a {
      text-decoration: none;
    }
  }

  .menu {
    margin-left: 20px;
    padding: 20px;
    float: left;
    width: 300px;
    ul {
      list-style-type: none;
      clear: both;

      li {
        margin-left: 10px;
        display: inline-block;
      }
      li.name{ width: 300px; border-right: 1px dotted $gray}
      li.from{ width: 90px; border-right: 1px dotted $gray}
      li.to{ width: 90px; }
    }
  }
  nav#userinfo {
    padding: 20px;
    float: right;
  }
}

#error_explanation {
		color: $red;
		background-color: $gray;
		padding: 5px;
		margin-bottom: 10px;
}
#new_user {

  input[type=text], input[type=password],input[type=email]{
    width: 200px;
    margin-bottom: 10px;
    padding-left: 4px;
  }
  input[type=submit] {
    width: auto;
  }

}
#welcome {
  #main {
    width: 1000px;
    margin: auto;
    padding-top: 30px;

    .introduction {
      font-size: 26px;
    }
  }

}

body .notice {
  width: 100%;
  background-color: $green;
  padding: 10px 100px;
  font-size: 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body .alert {
  width: 100%;
  background-color: $red;
  padding: 10px 100px;
  font-size: 16px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div#main {
    width: 90%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 60px;

    .signin {
      padding-top: 100px;
      width: 350px;
      margin: auto;
      font-size: 14px;

      h2 {
        font-size: 16px;
        padding-bottom: 10px;
      }

      input {
        margin-bottom: 10px;
      }
    }

    #dashboard {
    }

    #chapters {
      margin-bottom: 20px;

      .chapter-number {
        padding: 5px;
        background-color: $light-gray;
        float: left;
        width: 80px;
        margin-left: -100px;
        margin-right: 10px;
      }
      div.chapter {
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid $black;
        cursor: pointer;
        background-color: #fefefe;
        margin-bottom: 6px;
        //@include border-radius(5px);

        &:hover {
          background-color: #efefef;

        }
      }

      .paragraph {
        background-color: #FDFAFD;
        border: 1px dashed #AAA;
        margin-bottom: 6px;
        padding: 5px;
        width: 100%;
        display: block;

        &:hover {
          background-color: #efefef;
        }
      }
    }
    #projects {
      .projects {
        border: 1px solid $black;

        ul.header {
          background-color: $light-gray;
          text-transform: capitalize;
        }

        ul {
          list-style-type: none;
          clear: both;
          width: 100%;
          white-space: nowrap;
          li {
            padding: 8px 8px;
            display: inline-block;
            border-bottom: 1px dotted $gray;
          }
          li.name{ width: 300px; border-right: 1px dotted $gray}
          li.from{ width: 110px; border-right: 1px dotted $gray}
          li.to{ width: 90px; }
        }
        .project {
        }
      }
    }
}

.error_messages {
  color: $red;
  margin-bottom: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: $orange;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko *Gecko*/
  box-sizing: border-box;         /* Opera/IE 8+ */
  padding: 10px;

  a {
    color: $black;
    &:hover {
      color: $white;
    }
  }
}

a {
  color: $black;

  &:hover, &:active {
    color: $orange;
  }
}

.clear {
  clear: both;
}

.skip-link {
  color: #5599EE;
}
