@import 'layout/config';
@import 'layout/typeahead';

#project {
  margin: auto;

  label {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 3px;
    font-weight: bold;
  }

  input,select {
  	margin-top: 20px;
  	margin-bottom: 20px;
  	display: block;
  }
  input[type=submit] {
    width: auto;
  }

  .radio {
    input, label {
      float: left;
      margin: 5px;
      margin-right: 0px;
    }
    label {
      font-weight: normal;
      margin-right: 10px;
    }
    clear: both;
  }

  .arrow-right {
    background-image: image-url('arrow-right.png');
    background-repeat: no-repeat;
    padding-left: 14px;
    background-size: 12px 12px;
    float:left;
  }

  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .action {
    cursor: pointer;
  }

  .menu {
    background: rgba($orange, 0.8);
    width: 100%;
    line-height: 50px;
    margin-bottom: 20px;
    color: gray;

    .selected {
      color: $black;
      font-weight: bold;
    }

    .block {
      display: inline-block;
      margin: 0 7.5%;

    }

  }

  .step {
    font-size: 16px;

    h2 {
      font-size: 25px;
    }
    h3 {
      font-size: 21px;
      margin-bottom: 10px;
    }

    .head {
      padding: 15px;
    }

  }

  #translator_tokens {
    margin-bottom: 10px;
  }

  #translators_invited, #reviewers_invited {
    @include border-radius(8px);
    width: 100%;
    padding: 8px 12px;
    margin-left: -15px;
    border: 2px solid #ccc;
    margin-top: 10px;

    &:focus {
      box-shadow: inset 0 0 1px 1px #0097cf;
      outline: none;
    }
  }

  #new_invitation {
    margin-top: 20px;
  }

  #form-translator,#new_invitation {
  	input[type="submit"]{
			float: left;
  	}
  }
  .invitation {
    display: none;
    padding: 0 15px;
  }
  #translator-response,#invitation-response {
	float: left;
	margin-left: 10px;
	font-size: 14px;
	margin-top:6px;
  }
  #translator-response p.success { color: green;}
  #translator-response p.fail { color: red;}
  
  #translator-chapters {
    clear: both;
    .chapter-check input {
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .chapters-checks {
    @include border-radius(8px);
    border: 1px solid $border;
    padding: 15px;
  }

  #translators,#missing-chapters {
    @include border-radius(8px);
    border: 1px solid $border;
    padding: 15px;
    margin-bottom: 20px;

    ul {
      list-style-type: none;
    }
  }
  .body {
    width: 50%;
    float: left;
  }
  .sidebar {
    width: 30%;
    float: right;
  }
}

