label {
  display: block;
  margin-bottom: 5px;
}

input,select {
  margin-bottom: 20px;
  display: block;
}
input[type=submit] {
  width: auto;
  }

.arrow-right {
  background-image: image-url('arrow-right.png');
}
