<div class=admin>
  <h1>AM Translations Administration Page</h1>
  <%= link_to t('layouts.application.projects'), root_path %>
  <%= link_to t('layouts.application.users'), root_path %>
  <%= link_to t('languages'), root_path %>

</div>
